page-about {
.background-about {
    background: #1a0a3a;
    color: #ffffff;
}

.content-about{
    padding-top: 20%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.menu-sun {
    height: 50px;
    width: 50px;
    background: #ff3e62;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    position: relative;
}

.menu-ice {
    height: 50px;
    width: 50px;
    background: #00ccff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    position: relative;
}

.menu-nobg{ 
    height: 50px;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    position: relative;
}

.textofmenu{
    padding-top: 5px;
    font-size: 13px;
    text-align: center; 
    padding-right: 23%;
}

}