<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="background-about" scroll="false">
  <div class="content-about">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h1>Mode Settings</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <h6 style="color:#998ead;">Modes</h6>
        </ion-col>
        <ion-col col-6 style="padding-left: 25%;">
          <h6 style="color:#998ead;">Aromas</h6>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-md-2.4>
          <div class="menu-sun">
            <img style="padding-top: 20%;" src="./assets/imgs/icon-sun.svg" width="40" height="40">
          </div>
          <div class="textofmenu">
            <span style="color:#ff3e62">Heat</span>
          </div>
        </ion-col>
        <ion-col col-md-2.4>
          <div class="menu-nobg">
            <img style="padding-top: 20%;" src="./assets/imgs/icon-crystal.svg" width="40" height="40">
          </div>
          <div class="textofmenu">
            <span>Cool</span>
          </div>
        </ion-col>
        <ion-col col-md-2.4></ion-col>
        <ion-col col-md-2.4>
          <div class="menu-nobg">
            <img style="padding-top: 30%; padding-left: 13%;" src="./assets/imgs/icon-cherry.svg" width="35" height="35">
          </div>
          <div class="textofmenu">
            <span>Cherry</span>
          </div>
        </ion-col>

        <ion-col col-md-2.4>
          <div class="menu-ice">
            <img style="padding-top: 30%; padding-left: 13%;" src="./assets/imgs/icon-ice.svg" width="35" height="35">
          </div>
          <div class="textofmenu">
            <span style="color:#00ccff">Ice</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-2.4>
          <div class="menu-nobg">              
            <img src="./assets/imgs/icon-wet.svg" width="40" height="40">
          </div>
          <div class="textofmenu">
            <span>Wet</span>
          </div>
        </ion-col>
        <ion-col col-md-2.4>
          <div class="menu-nobg">
            <img style="padding-top: 20%;" src="./assets/imgs/icon-dry.svg" width="35" height="35">
          </div>
          <div class="textofmenu">
            <span>Dry</span>
          </div>
        </ion-col>
        <ion-col col-md-2.4></ion-col>
        <ion-col col-md-2.4>
          <div class="menu-nobg">
            <img style="padding-top: 30%; padding-left: 13%;" src="./assets/imgs/icon-grape.svg" width="35" height="35">
          </div>
          <div class="textofmenu">
            <span>Grape</span>
          </div>
        </ion-col>
        <ion-col col-md-2.4>
          <div class="menu-nobg">
            <img style="padding-top: 30%; padding-left: 13%;" src="./assets/imgs/icon-lime.svg" width="35" height="35">
          </div>
          <div class="textofmenu">
            <span>Lime</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="padding-top:15%">
        <span style="color:#998ea6;">Temperature</span>
    </div>

    <div style="padding-top:20%" text-center>
        <span style="font-size: 85px;">19</span>
        <span style="font-size: 20px;">temp</span>
    </div>

  </div>
</ion-content>
