<ion-header>
  <ion-navbar class="text" color="myblue">
    <ion-title>CAMERA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background text">
  <ion-slides pager="true" effect="cube" class="home" >
    <ion-slide class =" bg-pan-right" *ngFor="let item of items | async"> 
      <img [src]="'data:image/png;base64,' + item.imageData"/>
        <ion-list no-lines>
          <ion-list-header class="text1">Detail</ion-list-header>
          <label class="text2" *ngFor="let label of item.results[0].textAnnotations">{{label.description}}</label>
        </ion-list>
    </ion-slide>
  </ion-slides>  

  <ion-fab bottom right>
    <button ion-fab (click)="takePhoto()">
      <img src="./assets/imgs/takephoto.svg">
    </button>
  </ion-fab>
</ion-content>

