page-contact {
    .background {
        background: #8ED9CF;
    }

    .text1{
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
    }

    .text2{
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }

    .text{
        font-family: 'Prompt', sans-serif;
    }

    .home {
        height: 100%;
        border-radius: 10px;
        border: #ffffff;
        border-style: solid;
    }

}
