<!-- <ion-header>
  <ion-navbar>
    <ion-title>Multimedia</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content padding class="background-home" scrool="false">
  <div class="content-home">
    
<div class="spaceoftop">
<!-- Header -->
<h1>Select Climate</h1>
<p></p>
<h1>Settings</h1>
<p></p>
<h5 style="color: #998ead">Favorite Presets</h5>

<!-- Slide -->
<ion-slides slidesPerView="2.5" spaceBetween="5px" style="height: 30%;" >  
  <ion-slide>
      <div class="menu-home-active">
          <img class="menu-top" src="./assets/imgs/icon-sun.svg"> 
          <span>Heat</span>
          <span style="font-size:28px;">10 ํ-19 ํ</span>
      </div>
  </ion-slide>
  <ion-slide>
      <div class="menu-home-close">
          <img class="menu-top" src="./assets/imgs/icon-crystal.svg">
          <span>Cool</span>
          <span style="font-size:28px;">3 ํ-7 ํ</span>
      </div>
  </ion-slide>
  <ion-slide>
      <div class="menu-home-close">
          <img class="menu-top" src="./assets/imgs/icon-wet.svg">
          <span>Wet</span>
          <span style="font-size:28px;">7 ํ-10 ํ</span>
      </div>
  </ion-slide>
</ion-slides>

<div text-center class="spacemiddle">
    <span style="font-size:85px">19</span><span style="font-size:20px">temp</span>
</div>
</div>

<!-- Wave Footer -->
<div class="wave"></div>
<div class="wave wave1"></div>
<div class="wave wave2"></div>

</div>
</ion-content>
