page-home {
.background-home {
    background: #1a0a3a;
    color: #ffffff;
}

.wave {
    position: absolute;
    background: #6285c6;
    width: 850px;
    height: 850px;
    border-radius: 43%;
    transform-origin: 50% 48%;
    animation: drift 3000ms infinite linear;
    opacity: 0.34;
    bottom: -135%;
    left: -70%;
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
}

.wave.wave1 {
    animation: drift 6000ms infinite linear;
    background: radial-gradient(circle at 100%, #415e92, #415e92 50%, rgba(0, 0, 0, 0)100%);
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
}

.wave.wave2{
    animation: drift 8000ms infinite linear;
    background: radial-gradient(circle at 100%, #6285c6, #6285c6 50%, rgba(0, 0, 0, 0)100%);
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
}

@keyframes drift {
    from{transform: rotate(0deg);}
    from{transform: rotate(360deg);}
}

.menu-home-active {
    height: 140px;
    background: #ff3e62;
    border-radius: 10px ;
    transform-origin: 50% 48% ;
}

.menu-home-close {
    height: 140px;
    border-radius: 10px;
    border: #ffffff;
    border-style: solid;
}

.menu-top{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
}

.content-home{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.397);
    background: lighten(rgba(0, 0, 0, 0.396), 10%);
    position: relative;
    overflow: hidden;
}

.spaceoftop{
    padding-top: 20%;
}

.spacemiddle{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}

}
