<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="text" color="purple">
      <ion-title>About Phitsanulok</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="background text">
  <div class="content expand" >
    <ion-slides slidesPerView="2.5" spaceBetween="10px" style="height:40%;">
      <ion-slide >
        <div class="menu-home-close">
          <img class="menu-top" src="./assets/imgs/phs.png">
          <span style="font-size:18px;">ตราประจำจังหวัด</span>
        </div>
      </ion-slide>
      <ion-slide >
          <div class="menu-home-close">
            <img class="menu-top" src="./assets/imgs/ธง.png">
            <span style="font-size:18px;">ธงประจำจังหวัด</span>
          </div>
        </ion-slide>
      <ion-slide>
        <div class="menu-home-close">
          <img class="menu-top" src="./assets/imgs/นนทรี.png">
          <span style="font-size:18px;">ดอกนนทรี ดอกไม้ประจำจังหวัด</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="menu-home-close">
          <img class="menu-top" src="./assets/imgs/ปีบ.png">
          <span style="font-size:18px;">ต้นปีบ ต้นไม้ประจำจังหวัด</span>
        </div>
      </ion-slide>
    </ion-slides>

    <ion-slides style="height:50%;" class="expand">
      <ion-slide >
        <div class="menu-home-close">
          <h2 text-center style="font-size:20px;">คำขวัญประจำจังหวัด</h2>
          <span text-center style="font-size:18px;">พระพุทธชินราชงามเลิศ</span>
          <span text-center style="font-size:18px;">ถิ่นกำเนิดพระนเรศวร</span>
          <span text-center style="font-size:18px;">สองฝั่งน่านล้วนเรือนแพ</span>
          <span text-center style="font-size:18px;">หวานฉ่ำแท้กล้วยตาก</span>
          <span text-center style="font-size:18px;">ถ้ำและน้ำตกหลากตระการตา</span>
        </div>
      </ion-slide>

      <ion-slide >
        <div class="menu-home-close ">
          <h2 text-center style="font-size:20px;">จังหวัดพิษณุโลกแบ่งการปกครองออกเป็น 9 อำเภอ ได้แก่</h2>
          <span style="font-size:18px;">อำเภอเมืองพิษณุโลก อำเภอบางระกำ อำเภอชาติตระการ อำเภอนครไทย อำเภอบางกระทุ่ม อำเภอพรหมพิราม อำเภอวัดโบสถ์ อำเภอวังทอง อำเภอเนินมะปราง</span>
        </div>
      </ion-slide>      

    </ion-slides>
  </div>
</ion-content>
