page-welcome {
    .background {
        background: #F2D0FC;
        color: #8C01AB;
    }

    .menu-home-close {
      border-radius: 10px;
  }

    .slide-pic{
        height: 100px;
        border-radius: 100px;
        border: #ffffff;
        border-style: solid;
    }

    .content{
        padding-top: 5%;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .expand {
        animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .text{
    font-family: 'Prompt', sans-serif;
  }

}
