<!--
  Generated template for the PhonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <ion-title>Important</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="text">
  <div class="content-phone">
    <div style="font-size: 25px;" text-center>
      <h3 style="color: #8C01AB" >Emergency Phone Numbers</h3>
      <img class="calls-active" src="./assets/imgs/calls.svg">
    </div>

    <ion-list style="padding-top:10%">
      <ion-item>
        <ion-label>
          <span style="font-size: 20px;color: #8C01AB;">หน่วยแพทย์ฉุกเฉิน</span>
          <p style="font-size: 18px;color: #8C01AB;">1669</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <span style="font-size: 20px;color: #8C01AB;">เหตุด่วน-เหตุร้าย</span>
          <p style="font-size: 18px;color: #8C01AB;">191</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <span style="font-size: 20px;color: #8C01AB;">แจ้งรถหาย(โจรกรรมรถ)</span> 
          <p style="font-size: 18px;color: #8C01AB;">1192</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <span style="font-size: 20px;color: #8C01AB;">ศูนย์บริการข่าวสภาพภูมิอากาศ</span>
          <p style="font-size: 18px;color: #8C01AB;">1182</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <span style="font-size: 20px;color: #8C01AB;">ประชาสัมพันธ์จังหวัด</span>
          <p style="font-size: 18px;color: #8C01AB;">0-5525-1394</p>
        </ion-label>
      </ion-item>
    </ion-list>


  </div>
</ion-content>
