page-phone {
.content-phone{
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;

    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.calls-active {
    height: 70px;
    width: 70px;
    background: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5%;
    border-radius: 50%;
    position: relative;
}

.text{
    font-family: 'Prompt', sans-serif;
}

}
