<!--
  Generated template for the TravelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="text" color="purple">
    <ion-title>5 Tourist Attractions</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background text">
  <div style="padding-top:5%;" >
      <ion-slides pager="true" effect="flip">
    <ion-slide *ngFor="let slide of slider">
      <img [src]="slide.image" width="900px" height="600px">
      <p style="font-size:22px; padding-top: 2px;" text-center [innerHTML]="slide.title"></p>
      <p style="font-size:20px; padding-top: 2px;" [innerHTML]="slide.description"></p>
    </ion-slide>
  </ion-slides> 
  </div>

</ion-content>
