<!-- <ion-header>

  <ion-navbar>
    <ion-title>page1</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-content padding class="color-change-2x text" scroll="false">
  <div class="content-Page">
    <div style="padding-top:15%" text-center >
      <h1 style="color: #AACEDF">Welcome To Phitsanulok</h1>
    </div>
    <div class="center" style="padding-top:15%" >
      <button ion-button icon-left (click)="move()" style="color: #AACEDF" default="true" outline="true" class="center jello" round>
        <ion-icon color="light" name="navigate"></ion-icon>
        About Phitsanulok
      </button>
      <div style="padding-top:5%" text-center>
        <button ion-button icon-left (click)="move1()" style="color: #AACEDF" default="true" outline="true" class="center jello" round>
          <ion-icon color="light" name="car"></ion-icon>
          Tourist Attraction
        </button>
      </div>
      <div style="padding-top:5%" text-center>
        <button ion-button icon-left (click)="move3()" style="color: #AACEDF" default="true" outline="true" class="center jello" round>
          <ion-icon color="light" name="call"></ion-icon>
          Emergency Phone Numbers
        </button>
      </div>
    </div>

    <div class="wave"></div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    
    <img class="center" src="./assets/imgs/boy.svg" width="180px">
  </div>
  
</ion-content>