page-page1 {
.background-Page {
    background: #1a0a3a;
    color: #ffffff;
}

.color-change-2x {
	animation: color-change-2x 2s linear infinite alternate both;
}
@keyframes color-change-2x {
  0% {
    background: #4690f0;
  }
  100% {
    background: #b64ef1;
  }
}

.text{
  font-family: 'Prompt', sans-serif;
}

.content-Page{
    padding-top: 5;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: lighten(rgba(0, 0, 0, 0.205), 5%);
    position: relative;
    overflow: hidden;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}

.jello {
	animation: jello-horizontal 0.9s both;
}

 @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
.wave {
    position: absolute;
    background: #486da5;
    width: 850px;
    height: 850px;
    border-radius: 43%;
    transform-origin: 50% 48%;
    animation: drift 3000ms infinite linear;
    opacity: 0.34;
    bottom: -135%;
    left: -70%;
    box-shadow: 0 50px 50px rgba(98, 150, 198, 0.439);
}

.wave.wave1 {
    animation: drift 6000ms infinite linear;
    background: radial-gradient(circle at 100%, #5378af, #5378af 50%, rgba(0, 0, 0, 0)100%);
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
}

.wave.wave2{
    animation: drift 8000ms infinite linear;
    background: radial-gradient(circle at 100%, #3a6099, #3a6099 50%, rgba(0, 0, 0, 0)100%);
    box-shadow: 0 50px 50px rgba(98, 133, 198, 0.439);
}

}
